<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aplikasi.siabsis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:requestLegacyExternalStorage="true"
        android:name=".ui.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_maps_and_flags_pin_svgrepo_com"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_maps_and_flags_pin_svgrepo_com"
        android:supportsRtl="true"
        android:theme="@style/Theme.SiAbSis"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.hrd.DetailAbsenActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.hrd.KaryawanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.hrd.AbsenHrdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.hrd.HRDActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AbsenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ScannerActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDzf654y8OAa33VwV6p2DptZFFEt9TtICo" />

        <activity
            android:name=".ui.activity.hrd.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.hrd.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>